.filter_header {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.25rem;
  background-color: #f2f2f2;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  margin-bottom: 0.5rem;
  input {
    border: none;
  }
  select {
    border: none;
  }
}
