.table-wrapper {
  overflow-x: auto;
  width: 100%;

  .job-table {
    width: 100%;
    table-layout: fixed;

    th,
    td {
      padding: 8px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    button {
      padding: 5px 10px;
      background-color: #8f98a1;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      margin: 2px;
    }
    tr {
      display: grid;
      grid-template-columns: 3fr 1fr 0.5fr;
    }
  }
}

td:nth-child(2) {
  button {
    &.urgent {
      background-color: #c82333;
    }

    &.regular {
      background-color: #dfa800;
    }

    &.trivial {
      background-color: #0168d9;
    }
  }
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
  z-index: 1000;
  width: 25%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.modal-container {
  margin-top: 25px;

  .modal-select {
    margin: 20px 0;
  }
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}
