.table-wrapper {
  overflow-x: auto;
  width: 100%;

  .job-table {
    width: 100%;
    table-layout: fixed;

    th,
    td {
      padding: 8px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    button {
      padding: 5px 10px;
      background-color: #8f98a1;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    tr {
      display: grid;
      grid-template-columns: 3fr 1fr 0.5fr;
    }
  }
}

td:nth-child(2) {
  button {
    &.urgent {
      background-color: #c82333;
    }

    &.regular {
      background-color: #dfa800;
    }

    &.trivial {
      background-color: #0168d9;
    }
  }
}
