.new-job {
  padding-block: $s-8;
}

.title {
  font-weight: 700;
  font-size: $text-xl;
}

.job {
  &-wrapper {
    margin-top: $s-4;
    display: grid;
    grid-template-columns: 3fr 1.5fr 0.5fr;
    align-items: center;
    width: 100%;
  }

  &-input {
    flex-grow: 1;
    padding-right: 15px;
  }

  &-priority {
    height: 100%;

    &-title {
      display: block;
      font-size: $text-sm;
      color: $muted-foreground;
      font-weight: 500;
      line-height: 1;
    }

    &-select {
      margin-top: $s-2;
    }
  }

  &-create {
    height: 46px;
    margin-top: $s-5;
    margin-left: $s-4;

    background-color: $primary;
    border-radius: $rounded-md;
    color: $primary-foreground;
    border: none;
  }
}
