.new-job {
  padding-block: $s-8;
}

.title {
  font-weight: 700;
  font-size: $text-xl;
}

.job {
  &-wrapper {
    margin-top: $s-4;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &-input {
    flex-grow: 1;
  }

  &-priority {
    height: 100%;
    margin-left: $s-12;

    &-select {
      margin-top: $s-2;
    }
  }

  &-create {
    height: 48px;
    margin-top: $s-6;
    margin-left: $s-5;

    background-color: $primary;
    border-radius: $rounded-md;
    color: $primary-foreground;
    border: none;
  }
}
